<div class="box">
  <h2>Balance</h2>
  <br>
  <h1 class="purple">
    <%= number_to_currency(@balance) %>
  </h1>
  <br>
  <%= link_to 'Cash In', cashin_path, :class => 'button' %>
</div>
<%= render 'users/show', user: @user %>
